<app-splashscreen></app-splashscreen>
<ng-sidebar-container>
    <!-- Sidebar -->
    <ng-sidebar [opened]="opened">
        <p> Sidebar Contents</p>
        <button (click)="toggleSidebar()">Close Sidebar</button>
        <ul class="menu">
            <li><a routerLink="/" (click)="toggleSidebar()">Dashboard</a></li>
            <li><a routerLink="/meal" (click)="toggleSidebar()">Meal Entering</a></li>
            <li><a routerLink="/fitness" (click)="toggleSidebar()">Fitness User Story</a></li>
        </ul>
    </ng-sidebar>
    <div ng-sidebar-content>
        <!-- Page Header -->
        <button (click)="toggleSidebar()">
            Open Sidebar
        </button>
        <!-- Page Body -->
        <router-outlet></router-outlet>
    </div>
<ng-sidebar-container>
