<html>
<ng-sidebar-container>
    <!-- Sidebar -->
    <ng-sidebar [opened]="opened" id="sb_opened">
        <button class='button2' (click)="toggleSidebar()">Close Navigation Bar</button>
        <h3> Navigation Bar Contents</h3>
        <ul class="menu">
            <li><a routerLink="/dashboard" (click)="toggleSidebar()">Dashboard</a></li>
            <li><a routerLink="/meal" (click)="toggleSidebar()">Meal Entering</a></li>
            <li><a routerLink="/fitness" (click)="toggleSidebar()">Workout Entering</a></li>
            <li><a routerLink="/logout" (click)="toggleSidebar()">Log Out</a></li>
        </ul>
    </ng-sidebar>
    <div ng-sidebar-content>
        <!-- Page Header -->
        <button class='button2'(click)="toggleSidebar()" id="sb_button">
            Open Navigation Bar
        </button>
        <!-- Page Body -->
        <router-outlet></router-outlet>
    </div>
</ng-sidebar-container>
</html>