<div class="col-md-6 user-container">
  <h2 class="text-center">Add Exerices</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">


    <div class="form-group">
      <label for="Date">Date:</label>
      <input type="Date" formControlName="Date" placeholder="Date"  class="form-control" id="Date">
    </div>
    <div class="form-group">
      <label for="Time">Start Time:</label>
      <input type="Time" formControlName="Time" placeholder="Time" class="form-control" id="Time">
    </div>

    <div class="form-group">
      <label for="Duration">Duration:</label>
      <input type="Number" formControlName="Duration" placeholder="Duration" class="form-control" id="Duration">
    </div>

    <div>
      <label for="workouttypes">
        Workout types
      </label>
            <input type="radio"  value="isOutdoor" formControlName="Type" >Outdoor
            <input type="radio"  value = "isIndoor" formControlName="Type"> Indoor
            <input type="radio"  value = "isCycling" formControlName="Type">Cycling
            <input type="radio"  value = "isRunning" formControlName="Type">Running
            
    </div>

    <button class="submit">Add</button>
  </form>
</div>