<div id="bmi_div" class='container'>
  <h2>Enter Your Basic Information</h2>

    <div class="bmi">
      <label for="height">
        Height
      </label>
      <input id="height" placeholder = 'cm' type="number" min="0" max="250" [(ngModel)]="height">
    </div>

    <div>
      <label for="weight">
        Weight
      </label>
      <input id="weight" placeholder = 'kg' type="number" min="0" max="500" [(ngModel)]="weight">
    </div>
    <div>
      <label for="weightchange">
        Your Goal Total weight Lose/Gain:
      </label>
      <input id="weightloss" placeholder ="kg" type="number" min="-500" max="500" [(ngModel)]="weightlose">
    </div>

    <div>
      <label for="timedays">
        Total Days
      </label>
      <input id="timedays" type="number" min="0" max="2000" [(ngModel)]="timedays">
    </div>

    <button class="button" [disabled]="!height||!weight||!weightlose||!timedays" type="submit" (click)="doSubmitBmi()">Next</button>

</div>

<div hidden id="diet_div" class='container'>
  <h2>DIET</h2>
      <div class="diet">
          <div>
              <label>
                Carb
              </label>
              <input id="carb" type="number" [(ngModel)]="carbs" >
            </div>
            <div>
              <label>
                Fat
              </label>
              <input id="fat" type="number" [(ngModel)]="fats" >
            </div>
            <div>
              <label>
                Protein
              </label>
              <input id="protein" type="number" [(ngModel)]="protein">
            </div>
          <div>
          <label>
              Diet type
            </label>
            <input type="checkbox" id="Kosher" name="Kosher" >Kosher
            <input type="checkbox" id="Halal" name="Halal">Halal
            <input type="checkbox" id="Vege" name="Vege">Vegetarian
            <input type="checkbox" id="Vegan" name="Vegan">Vegan
          </div>
          <button class="button" type="submit" (click)="backDiet()">Back</button>
          <button class="button" [disabled]="!carbs||!fats||!protein" type="submit" (click)="doSubmitDiet()">Next</button>
      </div>
</div>

<div hidden id="workout_div" class='container'>
  <h2>Workout</h2>

    <div>
      <label for="days">
        Days:
      </label>
            <input type="checkbox" id="mon" name="Mon" [(ngModel)]="monday">Mon
            <input type="checkbox" id="tue" name="Tue" [(ngModel)]="tuesday">Tue
            <input type="checkbox" id="wed" name="Wed" [(ngModel)]='wednesday'>Wed
            <input type="checkbox" id="thur" name="Thur" [(ngModel)]='thursday'>Thur
            <input type="checkbox" id="fri" name="Fri" [(ngModel)]='friday'>Fri
            <input type="checkbox" id="sat" name="Sat" [(ngModel)]='saturday'>Sat
            <input type="checkbox" id="sun" name="Sun" [(ngModel)]='sunday'>Sun
      
    </div>


    <div>
      <label for="timeframe">
        Duration
      </label>
      <input id="timeframe" type="number" [(ngModel)]='workoutTimes' >
    </div>

    <div>
      <label for="workouttypes">
        Workout types
      </label>
            <input type="checkbox" id="out" name="Out" [(ngModel)]='outdoor'>Outdoor
            <input type="checkbox" id="in" name="In" [(ngModel)]='indoor'>Indoor
            <input type="checkbox" id="cyc" name="Cyc" [(ngModel)]='cycling'>Cycling
            <input type="checkbox" id="run" name="Run" [(ngModel)]='running'>Running
            
    </div>
    <button class="button" type="submit" (click)="backWorkout()">Back</button>
    <button class="button" type="submit" [disabled] = "(!monday&&!tuesday&&!wednesday&&!thursday&&!friday&&!saturday&&!sunday)||
                                          (!indoor&&!outdoor&&!cycling&&!running)||!workoutTimes"(click)="doSubmitWorkout()">Next</button>

</div>

<div hidden id="account_div">
  <div class="container">
      <div class="row">
          <div class="col-md-6 offset-md-3">
              <h3>Create Account</h3>
              <form [formGroup]="registerForm" (ngSubmit)="doSubmitAccount()">
                  <div class="form-group">
                      <label>UserName</label>
                      <input type="text" id="user" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                      <div class = 'error' *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                          <div class = 'error' *ngIf="f.lastName.errors.required">UserName is required</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label>Email</label>
                      <input type="text" id ="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                          <div class = 'error' *ngIf="f.email.errors.required">Email is required</div>
                          <div class = 'error' *ngIf="f.email.errors.email">Email must be a valid email address</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label>Password</label>
                      <input type="password" id="pass" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div class = 'error' *ngIf="f.password.errors.required">Password is required</div>
                          <div class = 'error' *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <button class="button" (click)="backAccount()">Back</button>
                      <button class="button">Register</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
