
       
.wrap { 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 8px;
}

.card_wrap { 
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.card_item { 
    color: #fff;
    text-align: center;
    flex-basis: 25%;
    margin-bottom: 16px;
    padding: 0px 8px;
    box-sizing: border-box;
}

.card_content { 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgb(179, 224, 250);
    border-radius: 2px;
    height: 200px;
    width: 100%;
}
