<html>
<div class="container1">
  <h2 style="margin: auto"> Your Workouts</h2>
  <br>

    <div class='hidden' *ngFor="let workout of workouts">
      <div class = 'cardholder'>
        <div class="card">
          <div class="container2">
            <h4><b>Workout info</b></h4>
            <p>Start time: {{workout.starttime}}</p>
            <p>Duration: {{workout.duration}} min</p>
            <p>Date: {{workout.date}}</p>
            <p>Type: {{workout.type1}} {{workout.type2}}</p>
            <button class="button" (click)="deleteWorkout(workout.id)"> Delete</button>
          </div>
        </div>
      </div>
    </div>
  <br>
  <button class="button" style="width:100px" (click)="addWorkout()"> Add Workout</button>
</div>
</html>